@mixin flexing {
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

@mixin multicolor-backgound {
  background: linear-gradient(
    to right,
    var(--pink),
    var(--purple),
    var(--yellow),
    var(--blue)
  );
}

//-------------- Swirl Loader

.swirlLoader {
  position: fixed;
  top: 80px;
  height: 100vh;
  width: 100%;
  backdrop-filter: blur(20px);
}

//-------------- Advertiser Navbar

.advNavMain {
  color: var(--text-color);
  width: 100%;
  font-family: var(--font2-bold);
  padding: 20px 0;
  margin: 10px auto;
  border-radius: 50px;
  background: linear-gradient(90deg, rgb(37, 18, 63) 0%, rgb(79, 27, 98) 100%);

  .advNavHolder {
    @include flexing;
    padding: 10px 10px;
    height: 30px;
    .advNavLeft {
      flex-grow: 1;
    }
    margin: 0px 50px;

    .advNavRight {
      ul {
        list-style-type: none;
        display: flex;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
        gap: 10px;

        li {
          background: linear-gradient(
            90deg,
            rgb(234, 51, 150) 0%,
            rgb(117, 67, 246) 100%
          );
          padding: 10px 20px;
          border-radius: 10px;
          font-size: 1rem;
          letter-spacing: 2px;

          &:hover {
            // background-color: var(--pink);
          }
        }
      }
    }
  }
}

li.Active {
  background: linear-gradient(
    90deg,
    rgb(234, 51, 150) 0%,
    rgb(117, 67, 246) 100%
  );
}

//------------------ Dashboard Page

.dashboardMain {
  .topBox {
    width: 85%;
    margin: 130px auto 0 auto;
    border-radius: 20px;
    // border: 1px solid var(--pink);
    box-shadow: -1px -1px 10px 2px white;
    height: 25vh;
  }

  .Header {
    font-size: 20px;
    font-family: var(--font1);
    background: linear-gradient(
      90deg,
      rgb(37, 18, 63) 0%,
      rgb(79, 27, 98) 100%
    );
    margin-top: -38px;
    margin-left: 30px;
    /* padding: 2.5px 5px; */
    border-bottom: 1px solid transparent;
    position: absolute;
    border-radius: 5px;
    /* width: 8%; */
    padding: 10px 20px;
    text-align: center;
    letter-spacing: 2px;
    // top: 150px;
    // left: 148px;
  }

  .inner {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 3fr));
    grid-gap: 20px;
    gap: 20px;
    vertical-align: middle;
    padding: 20px;
    align-items: center;
    justify-content: center;
    height: 266px;
  }

  .card {
    width: 300px;
    height: 178px;
    margin: 0 auto;
    background: linear-gradient(
      90deg,
      rgb(37, 18, 63) 0%,
      rgb(79, 27, 98) 100%
    );
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
  }
  .title {
    font-family: var(--font1);
    font-size: 30px;
    text-align: center;
    height: 50%;
  }

  .value {
    height: 50%;
    font-family: var(--font2-bold);
    font-size: 40px;
  }

  .depoBtn {
    height: fit-content;
    width: -moz-fit-content;
    width: fit-content;
    /* padding: 15px 33px 20px 31px; */
    margin: 0 auto;
    background-color: var(--yellow);
    color: black;
    border-radius: 10px;
    padding: 10px 20px;
    border: none;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 550;
    font-family: var(--font2-bold);
    margin-bottom: 10px;
  }

  .popupMain {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .popupLabel {
    font-size: 30px;
    text-align: center;
    font-family: var(--font1);
    margin: 10px;
  }

  .popupInput {
    margin: 0 auto 30px auto;
    width: 250px;
    height: 30px;
    // font-family: var(--font1);
  }

  .popupBtn {
    height: fit-content;
    width: fit-content;
    padding: 10px;
    margin: 0 auto;
    background: linear-gradient(
      90deg,
      rgb(234, 51, 150) 0%,
      rgb(117, 67, 246) 100%
    );
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    font-weight: 550;
    font-family: var(--font2-bold);
  }
}

.graphBox {
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 91%;
  border: 1px solid white;
  /* margin: 30px 10px auto; */
  border-radius: 20px;
  height: 500px;
  // box-shadow: -1px -1px 10px 2px white;

  .campaignsList {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: scroll;
    max-height: 400px;
    /* margin: 20px; */
    padding: 30px;

    .campaignSingle {
      height: fit-content;
      width: 90%;
      padding: 10px;
      margin: 10px;
      background-color: var(--blue);
      color: white;
      border-radius: 10px;
      border: none;
      font-size: 20px;
      font-weight: 550;
      font-family: var(--font2-bold);
    }

    .campaignName {
      text-align: center;
      font-family: var(--font1);
      font-size: 30px;
    }

    .campaignMainData {
      display: inline-flex;
      flex-direction: row;
      width: 100%;
    }

    .campaignDataOuter {
      padding: 10px;
      width: 100%;
      text-align: center;
    }

    .campaignDataLabel {
      font-size: 20px;
    }

    .campaignDataValue {
      font-size: 20px;
      text-align: center;
    }

    .campaignDataBtn {
      height: fit-content;
      width: fit-content;
      padding: 5px 10px 5px 10px;
      margin: 0 auto;
      background-color: var(--yellow);
      color: black;
      border-radius: 5px;
      border: none;
      font-size: 15px;
      font-weight: 550;
      font-family: var(--font2-bold);
      margin-bottom: 10px;
    }
  }

  .graphContainer {
    flex: 1 1 auto;
  }
}
