.genMain {
  margin-top: 100px;
  .genOuter {
    background: linear-gradient(
      90deg,
      rgb(37, 18, 63) 0%,
      rgb(79, 27, 98) 100%
    );
    height: 600px;
    width: 600px;
    margin: 0 auto;
    border-radius: 10px;
  }

  .genHeader {
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    font-family: var(--font2-bold);
    padding-top: 30px;
    letter-spacing: 2px;
    text-transform: capitalize;
  }

  .genContent {
    display: block;
    width: -moz-fit-content;
    /* margin-bottom: 8px; */
    font-family: var(--font1);
    font-size: 1.3rem;
    text-align: left;
    /* margin: 10px; */
    text-align: justify;
    padding: 50px;
    line-height: 35px;
  }

  .genBtn {
    height: fit-content;
    width: fit-content;
    padding: 10px;
    background-color: var(--yellow);
    color: black;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    width: -moz-fit-content;
    font-weight: 550;
    font-family: var(--font2-bold);
    // margin: 0 auto;
    margin-left: 40%;
  }

  .tokenbtn {
    margin: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1rem;
    letter-spacing: 2px;
    text-transform: capitalize;
    background-color: var(--yellow);
  }
  .spantoken {
    font-size: 1rem;
    letter-spacing: 1px;
    border: 1px solid white;
    padding: 10px;
    border-radius: 10px;
  }
  .tokenmain {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
